:root {
    --vermelho: #E40914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* elementos base */

body {
    background: var(--preto);
    font-family: 'Roboto', sans-serif;
    color: white;
}